* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: thin solid gray;
}
#container {
    background-color: lightblue;
    width: 960px;
    margin: auto;
}
header {
    background-color: aquamarine;
    height: 50px;
}
main {
    background-color: antiquewhite;
    float: left;
    width: 75%;
    height: 500px;
}
aside {
    background-color: aqua;
    float: right;
    width: 25%;
    height: 500px;
}
footer {
    background-color: aquamarine;
    clear: both;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
button {
    cursor: pointer;
}
#trivia {
    display: none;
}
.pregunta:hover, label {
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.8;
}
